.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 1.0;
  }
.center:hover{
    opacity:0.5
}

.wisdom{
    border:black;
    border-width:2px;
    border-style:solid;
    font-family:monospace;
    font-size:20px;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    height:100px;
    text-align: top-left;
}